<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container-fluid" id="containerFooterFluid">


    <div class="container">
        <!-- Footer -->
        <footer class="text-center text-lg-start text-white" style="background-color: #171d29;">
            <!-- Grid container -->
            <div class="container p-4 pb-0">
                <!-- Section: Links -->
                <section class="">
                    <!--Grid row-->
                    <div class="row">
                        <!-- Grid column -->
                        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                            <h6 class="text-uppercase mb-4 font-weight-bold">
                                CROWS d.o.o.
                            </h6>
                            <p>
                                Posvećeni smo podršci sportašima na svakom koraku njihovog puta, od početnika do elitnih
                                natjecatelja. Naši
                                sveobuhvatni trening programi i personalizirano vođenje omogućuju sportašima da
                                napreduju od amatera do
                                profesionalaca, s potencijalom da se natječu na najvišim razinama i zarade priznanje
                                nacionalnih i
                                međunarodnih sportskih organizacija.
                            </p>
                        </div>
                        <!-- Grid column -->

                        <hr class="w-100 clearfix d-md-none" />

                        <!-- Grid column -->
                        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                            <h6 class="text-uppercase mb-4 font-weight-bold">Radno vrijeme</h6>
                            <p>
                                Pon, sri, pet – 19:00 do 23:00
                            </p>
                            <p>
                                Uto, čet – 18:30 – do 22:30
                            </p>


                        </div>
                        <!-- Grid column -->

                        <hr class="w-100 clearfix d-md-none" />

                        <!-- Grid column -->
                        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                            <h6 class="text-uppercase mb-4 font-weight-bold">
                                Korisni Linkovi
                            </h6>
                            <p>
                                <a class="text-white" routerLink="/za_odrasle">Treninzi za odrasle</a>
                            </p>
                            <p>
                                <a class="text-white" routerLink="/za-djecu">Treninzi za djecu</a>
                            </p>
                        </div>

                        <!-- Grid column -->
                        <hr class="w-100 clearfix d-md-none" />

                        <!-- Grid column -->
                        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                            <h6 class="text-uppercase mb-4 font-weight-bold">Kontakt</h6>
                            <p><i class="fas fa-home mr-3"></i> Ulica Nikole Andrića 3, Sloboština, Zagreb</p>
                            <p><i class="fas fa-envelope mr-3"></i>Gunja43@gmail.com</p>
                            <p><i class="fas fa-phone mr-3"></i>+385 99 5271 154</p>
                        </div>

                        <!-- Grid column -->
                    </div>
                    <!--Grid row-->
                </section>
                <!-- Section: Links -->

                <hr class="my-3">

                <!-- Section: Copyright -->
                <section class="p-3 pt-0">
                    <div class="row d-flex align-items-center">
                        <!-- Grid column -->
                        <div class="col-md-7 col-lg-8 text-center text-md-start">
                            <!-- Copyright -->
                            <div class="p-3">
                                © 2020 Copyright:
                                <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
                            </div>
                            <!-- Copyright -->
                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">
                            <!-- Facebook -->
                            <a class="btn btn-outline-light btn-floating m-1" class="text-white" role="button"><i
                                    class="fab fa-facebook-f"></i></a>

                            <!-- Twitter -->
                            <a class="btn btn-outline-light btn-floating m-1" class="text-white" role="button"><i
                                    class="fab fa-twitter"></i></a>

                            <!-- Google -->
                            <a class="btn btn-outline-light btn-floating m-1" class="text-white" role="button"><i
                                    class="fab fa-google"></i></a>

                            <!-- Instagram -->
                            <a class="btn btn-outline-light btn-floating m-1" class="text-white" role="button"><i
                                    class="fab fa-instagram"></i></a>
                        </div>
                        <!-- Grid column -->
                    </div>
                </section>
                <!-- Section: Copyright -->
            </div>
            <!-- Grid container -->
        </footer>
        <!-- Footer -->
    </div>
    <!-- End of .container -->
</div>