<div class="section1-wrapper">
    <div class="section_slika_services" [style.background-size]="backgroundSize">
    </div>
</div>
<div class="container-fluid">
    <div class="container">
        <h2 style="display: flex; justify-content: center; align-items: center; color: whitesmoke; font-weight: bolder;"
            class="mt-5 fontCustom">COMBAT SAMBO
        </h2>
        <div class="row justify-content-center yellow">
            <div class="col-lg-6 green d-flex justify-content-center">
                <div class="text-wrapper d-flex flex-column align-items-center justify-content-center ">
                    <h4 class="text-wrapper-h4"><b>Borilački Sambo je borilačka vještina i borilački sport koji potječe
                            iz Sovjetskog Saveza početkom 20. stoljeća.</b></h4>
                    <p class="text-wrapper-p">Razvijen je kao vojni sustav borbe "rukama na
                        ruke" za Sovjetsku Crvenu armiju, uzimajući utjecaje iz raznih borilačkih vještina,
                        uključujući tradicionalno rusko narodno hrvanje (Khapsagay), judo, boksa i drugih borilačkih
                        sportova.

                    </p>
                    <p class="text-wrapper-p text-wrapper-p-fix-mobile1">
                        Borilački Sambo uključuje raznovrsne tehnike udaranja, grapplinga i
                        zahvata, kao i obrane protiv naoružanih i ne-naoružanih protivnika.
                        Praktikanti uče različite udarce, udarce, bacanja, rušenja, zaključavanje zglobova, gušenja i
                        tehnike borbe na tlu dizajnirane da neutraliziraju i svladaju protivnike brzo i učinkovito. Zbog
                        svoje praktične usmjerenosti na samoobranu i borbu rukom-na-rukama, Borilački Sambo često se
                        koristi od strane vojnih i policijskih snaga kao dio njihovog treninga.
                    </p>
                </div>

            </div>
            <div class="col-lg-6 red d-flex justify-content-center">
                <img src="/assets/combatsambo1.JPG" alt="Red" class="slika1">
            </div>
        </div>
        <div class="row justify-content-center blue">
            <div class="col-lg-6 col-12 order-2 order-lg-1 d-flex justify-content-center">
                <img src="/assets/combatsambo2.JPG" alt="Yellow" class="slika1">
            </div>
            <div class="col-lg-6 col-12 order-1 order-lg-2 d-flex justify-content-center">
                <div class="text-wrapper">
                    <p class="text-wrapper-p text-wrapper-p-fix-mobile2">Njegov naglasak na prilagodljivosti i
                        učinkovitosti u stvarnim situacijama
                        čini ga vrijednim sredstvom za one u profesijama koje zahtijevaju fizički sukob. Borilački Sambo
                        dobio je međunarodno priznanje kao legitimna borilačka vještina i borilački sport. Upravlja ga
                        Međunarodna federacija Samba (FIAS) i prakticira ga entuzijasti i sportaši diljem svijeta. Iako
                        nije tako poznat kao drugi borilački sportovi poput MMA-a ili tradicionalnog Sambou, Borilački
                        Sambo nastavlja rasti u popularnosti zbog svoje učinkovitosti i praktičnih primjena.

                        Glavni cilj Borilačkog Samboa je opremiti pojedince učinkovitim vještinama samoobrane za stvarne
                        borilačke situacije. Za razliku od tradicionalnog Samba, koji naglašava sportsko natjecanje,
                        Borilački Sambo stavlja veći naglasak na praktične tehnike i taktike za samoobranu i situacije
                        rukom-na-rukama.</p>
                </div>
            </div>
        </div>

    </div>

</div>

<div class="container-fluid mb-5">
    <div class="container">
        <h2 class="text-center text-white mt-5 mb-5" style="font-weight: bolder;">ISPUNITE OBRAZAC ZA <span
                style="color: rgb(210, 24, 24);">PRIJAVU</span></h2>
                <form [formGroup]="form" (ngSubmit)="submitForm()" class="form-custom bg-dark text-white p-3  border border-danger">
                    <div class="form-group">
                      <label for="fullName">Ime i prezime</label>
                      <input formControlName="fullName" type="text" class="form-control bg-dark text-white border-danger" id="fullName"
                        placeholder="Ime i prezime">
                    </div>
                    <div class="form-group">
                      <label for="email">Email</label>
                      <input formControlName="email" type="email" class="form-control bg-dark text-white border-danger" id="email"
                        placeholder="Enter Email">
                    </div>
                    <div class="form-group">
                      <label for="contactNumber">Kontakt broj</label>
                      <input formControlName="contactNumber" type="tel" class="form-control bg-dark text-white border-danger" id="contactNumber"
                        placeholder="Kontakt broj">
                    </div>
                    <div class="form-group">
                      <label for="sport">Odaberi sport</label>
                      <select formControlName="sport" class="form-control bg-dark text-white border-danger" id="sport">
                        <option value="" selected="selected" disabled="disabled"></option>
                        <option value="MMA">MMA</option>
                        <option value="SAMBO">SAMBO</option>
                        <option value="COMBAT SAMBO">COMBAT SAMBO</option>
                        <option value="FITNESS">FITNESS</option>
                      </select>
                    </div>
                    <div class="form-group text-center">
                      <button type="submit" class="btn btn-danger mt-3">Pošalji</button>
                    </div>
                  </form>
    </div>
</div>