#sectionUpperPhoto{
    height: 300px;
    background-image: url('/assets/slide_02-tinted.png');
    background-size: cover;
    background-position: center center;
  
}
.yellow{
    margin-bottom: 100px;
    margin-top: 50px;
}
.blue{
    margin-bottom: 50px;
}
.slika1{
    max-width: 600px;
    max-height: 400px;
}
.text-wrapper{
    max-width: 600px;
  
}
.text-wrapper-h4{
font-size: 20px;
color: whitesmoke;
}
.text-wrapper-p{
    font-size: 18px;
    color: whitesmoke;
}

//FORM


.form-custom {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .form-custom .form-control {
    background-color: #333;
    border: none;
    border-bottom: 1px solid #ff0000;
    border-radius: 0;
    color: #fff;
  }
  
  .form-custom .form-control:focus {
    background-color: #333;
    border: none;
    border-bottom: 1px solid #ff0000;
    border-radius: 0;
    color: #fff;
    box-shadow: none;
  }
  
  .form-custom .btn {
    background-color: #ff0000;
    border-color: #ff0000;
  }
  
  .form-custom .btn:hover {
    background-color: #cc0000;
    border-color: #cc0000;
  }
  