<div class="container-fluid" id="sectionUpperPhoto">
    <div class="row">
        <div class="picture">
            <div class="text-wrapper">
                <h1 class="text-center">MMA</h1>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="container">
        <div class="row justify-content-center yellow">
            <div class="col-lg-6 green d-flex justify-content-center">
                <div class="text-wrapper d-flex flex-column align-items-center justify-content-center ">
                    <h4 class="text-wrapper-h4"><b>Mixed Martial Arts or MMA is the world’s fastest growing sport,
                            experiencing rising popularity
                            with
                            the
                            notoriety and world wide expansion of the Ultimate Fighting Championship, UFC.</b></h4>
                    <p class="text-wrapper-p">It is a full contact combat sport that combines striking and grappling,
                        both standing and on the
                        ground.
                    </p>
                    <p class="text-wrapper-p">
                        MMA makes use of techniques from various martial arts including Wrestling, Muay Thai and BJJ. We
                        encourage our students to build a strong foundation in striking, wrestling and grappling before
                        learning
                        to combine these disciplines in an MMA context, to form a complete and well rounded skill set.
                    </p>
                </div>

            </div>
            <div class="col-lg-6 red d-flex justify-content-center">
                <img src="/assets/mma_01.jpg" alt="Red" class="slika1">
            </div>
        </div>
        <div class="row justify-content-center blue">
            <div class="col-lg-6 d-flex justify-content-center">
                <img src="/assets/mam_02.jpg" alt="Yellow" class="slika2">
            </div>
            <div class="col-lg-5 d-flex justify-content-center">
                <div class="text-wrapper">
                    <p class="text-wrapper-p">ur Pro MMA classes include ground work and submissions for MMA, take downs
                        and take down defence,
                        wall work, striking and footwork. Using a combination of bag work, drilling, specific training
                        and sparring, students build on their existing knowledge to create an integrated and seamless
                        game. This class is for students who have strong fundamentals in each of the individual
                        disciplines and are ready to build on that knowledge.

                        Whether you are looking to become a well rounded martial artist, want to test your skill set in
                        the Octagon or are already a seasoned MMA fighter, Dominance MMA’s highly experienced coaches
                        and team have the knowledge and resources to help you reach your goals.</p>
                </div>
            </div>
        </div>

    </div>

</div>

<div class="container-fluid mb-5">
    <div class="container">
        <h2 class="text-center text-white mt-5 mb-5">ISPUNITE OBRAZAC ZA <span
                style="color: rgb(210, 24, 24);">PRIJAVU</span></h2>
        <form class="form-custom bg-dark text-white p-3  border border-danger">
            <div class="form-group">
                <label for="fullName">Full Name</label>
                <input type="text" class="form-control bg-dark text-white border-danger" id="fullName"
                    placeholder="Enter Full Name">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control bg-dark text-white border-danger" id="email"
                    placeholder="Enter Email">
            </div>
            <div class="form-group">
                <label for="contactNumber">Contact Number</label>
                <input type="tel" class="form-control bg-dark text-white border-danger" id="contactNumber"
                    placeholder="Enter Contact Number">
            </div>
            <div class="form-group">
                <label for="sport">Choose a Sport</label>
                <select class="form-control bg-dark text-white border-danger" id="sport">
                    <option selected="selected" disabled="disabled"></option>
                    <option>MMA</option>
                    <option>SAMBO</option>
                    <option>COMBAT SAMBO</option>
                    <option>FITNESS</option>
                </select>
            </div>
            <div class="form-group">
                <label for="type">Type</label>
                <select class="form-control bg-dark text-white border-danger" id="type">
                    <option selected="selected" disabled="disabled"></option>
                    <option>Online</option>
                    <option>Private</option>
                </select>
            </div>
            <div class="form-group text-center">
                <button type="submit" class="btn btn-danger mt-3">Submit</button>
            </div>
        </form>
    </div>
</div>