<div class="section1-wrapper">
    <div class="section_slika_services" [style.background-size]="backgroundSize">
    </div>
</div>
<div class="container-fluid mt-5">

    <div class="container container2">
        <h1 class="text text-center mb-5">OSNIVANJE KLUBA</h1>

        <p class="text text-center">Prvi klub Free fight-a, discipline koja se učila na DIF-u trajao je od 1989. do
            1993. godine i
            iz njega je iznikao naš osnivač i bivši branitelj Željko Banić. Nakon ratnih zbivanja Željko i ostala ekipa
            se vratila u sport na početku 2000-ih godina, sada pod drugim nazivom – Ultimate fight. Nedugo nakon toga
            2004. godine osnovan je Ultimate fight klub Crows u kojem se podučavala isključivo mixed martial arts (MMA)
            disciplina. Tijekom sljedećih deset godina naš klub sudjelovao je na brojnim nacionalnim natjecanjima
            osvojivši medalje u svim kategorijama u, već tada formiranom MMA sportu.</p>
        <p class="text text-center">Željko Banić je sa svojim suradnicima sudjelovao u osnivanju Hrvatskog MMA saveza
            2006. godine
            koji svake godine organizira nacionalna prvenstva i šalje najbolje natjecatenje na Svjetsko međunarodno
            prvenstvo u amaterskom MMA pod organizacijom Global martial arts association (GAMMA). </p>

    </div>
    <div class="container mt-5">
        <div class="d-flex justify-content-center">
            <img src="/assets/crows1.jpeg" alt="Yellow" class="slika1">
        </div>
    </div>
    <div class="container container2 pt-5">
        <p class="text text-center">Stalna želja za novim izazovima dovela je Željka i njegov tim do sporta pod nazivom
            ,,SAMBO'' (daj stavi iste ne znam stavit obostrane navodnike jer sam debil) – Samoobrana bez oružja. Ta
            borilačka vještina razvijena u Sovjetskoj Rusiji 1920-ih godina zaintrigirala je tadašnju MMA scenu zbog
            svojih zanimljivih pravila i mješanja stilova naročito u Combat Sambu što je natjecateljima iz našeg kluba
            bio cilj.</p>

        <div class="container mt-5">
            <div class="d-flex justify-content-center mb-5">
                <img src="/assets/crows2.jpeg" alt="Yellow" class="slika1">
            </div>
        </div>
        <p class="text text-center">Željko je 2010. godine završio usavršavanje za Sambo trenera te se prvi put u
            Republici Hrvatskoj počela podučavati disciplina Sambo i Combat sambo. Među prvim natjecateljima i
            osvajačima medalja iz našeg kluba bili su Dejan Gunjavić, Marko Radielović i Matija Radielović. Osvojili
            su….. ne znam točno provjerit moram. Sambo je postao olimpijski sport 2021. godine čime su službeno počele
            sportske pripreme za naše sadašnje natjecatelje.</p>

    </div>
    <div class="container mt-5">
        <div class="d-flex justify-content-center">
            <img src="/assets/crows6.jpeg" alt="Yellow" class="slika1">
        </div>
    </div>
    <div class="container container2 pt-5">
        <p class="text text-center">Uz pregršt iskustva proširili smo svoje podučavanje na djecu i rekreativni dio
            populacije. Sada se u našim programima mogu naći treninzi za djecu, rekreativce i profesionalce.</p>
    </div>
    <div class="container container2">
        <h1 class="text text-center mb-5 mt-5">NAŠA MISIJA</h1>
        <p class="text text-center">U Crows klubu, naša misija je inspirirati i osnažiti pojedince svih dobnih skupina
            da prihvate transformacijsku snagu sporta. Posvećeni smo stvaranju gostoljubivog i inkluzivnog okruženja
            gdje svatko ima priliku razviti svoj sportski potencijal i postići svoje osobne ciljeve. Naša misija se
            proteže dalje od samo treniranja sportaša; posvećeni smo razvijanju ljubavi prema sportu za cijeli život te
            promicanju fizičkog, mentalnog i emocionalnog blagostanja u našoj zajednici.</p>
        <h1 class="text text-center mb-5 mt-5">VIZIJA</h1>
        <p class="text text-center">Naša vizija je biti uzor izvrsnosti u hrvatskoj sportskoj zajednici, poznati po
            proizvodnji sportaša svjetske klase i njegovanju sljedeće generacije prvaka. Težimo vidjeti naše sportaše
            kako se ističu ne samo na nacionalnoj razini, već i na međunarodnoj areni, ponosno predstavljajući Hrvatsku
            s čašću, integritetom i vještinom.</p>
        <h1 class="text text-center mb-5 mt-5">CILJEVI</h1>
        <p class="text text-center mb-3 crveno">Razvoj mladih</p>
        <p class="text text-center">
            Posvećeni smo pružanju prilika mladima da se uključe u sport i razviju bitne životne vještine poput timskog
            rada, vođenja i otpornosti. Kroz naše programe za mlade, cilj nam je inspirirati ljubav prema tjelesnoj
            aktivnosti i usađivati vrijednosti koje će im koristiti i izvan igrališta.
        </p>
        <p class="text text-center mb-3 crveno">Put sportaša</p>
        <p class="text text-center">
            Posvećeni smo podršci sportašima na svakom koraku njihovog puta, od početnika do elitnih natjecatelja. Naši
            sveobuhvatni trening programi i personalizirano vođenje omogućuju sportašima da napreduju od amatera do
            profesionalaca, s potencijalom da se natječu na najvišim razinama i zarade priznanje nacionalnih i
            međunarodnih sportskih organizacija.
        </p>
        <p class="text text-center mb-3 crveno">Socijalno djelovanje</p>
        <p class="text text-center pb-5 mb-5">
            Vjerujemo u moć sporta da ujedini i obogati zajednice. Kroz inicijative, partnerstva i događaje, težimo
            pozitivno utjecati na živote pojedinaca i obitelji diljem Hrvatske, promičući zdravlje, sreću i društvenu
            koheziju.
        </p>

    </div>



</div>