<div class="section1-wrapper">
    <div class="section_slika_services" [style.background-size]="backgroundSize">
    </div>
</div>
<div class="container-fluid">
    <div class="container">
        <h2 style="display: flex; justify-content: center; align-items: center; color: whitesmoke; font-weight: bolder;"
            class="mt-5 fontCustom">MIXED MARTIAL ARTS
        </h2>
        <div class="row justify-content-center yellow">
            <div class="col-lg-6 col-12 green d-flex justify-content-center">
                <div class="text-wrapper d-flex flex-column align-items-center justify-content-center">
                    <h4 class="text-wrapper-h4"><b>MMA je multidisciplinarni sport koji uključuje elemente udaranja,
                            grapplinga i borbe u klinču.</b></h4>
                    <p class="text-wrapper-p">Borci često treniraju različite borilačke vještine, uključujući brazilske
                        jiu-jitsu, Muay Thai, boksa, hrvanja, juda i taekwondo, kako bi razvili sveobuhvatni sklop
                        vještina.
                    </p>
                    <p class="text-wrapper-p text-wrapper-p-fix-mobile1">
                        Učinkovito udaranje, grappling, obrana od rušenja i vještine zadržavanja bitne su za uspjeh u
                        MMA natjecanjima. Kroz godine, MMA je doživio eksponencijalni rast popularnosti, postajući
                        jednim od najbrže rastućih sportova na svijetu. UFC, sada vodeća organizacija u sportu, odigrala
                        je značajnu ulogu u mainstream uspjehu MMA-a, organizirajući visoko profilažne događaje i
                        predstavljajući elitne talente diljem svijeta.
                    </p>
                </div>

            </div>
            <div class="col-lg-6 col-12 red d-flex justify-content-center">
                <img src="/assets/mma_01.jpg" alt="Red" class="slika1">
            </div>
        </div>
        <div class="row justify-content-center blue">
            <div class="col-lg-6 col-12 order-2 order-lg-1 d-flex justify-content-center">
                <img src="/assets/mam_02.jpg" alt="Yellow" class="slika1">
            </div>
            <div class="col-lg-6 col-12 order-1 order-lg-2 d-flex justify-content-center">
                <div class="text-wrapper">
                    <p class="text-wrapper-p text-wrapper-p-fix-mobile2">MMA se također raznolikostio s pojavom drugih
                        promocija poput Bellator
                        MMA, ONE Championship-a i raznih regionalnih organizacija. Iako je MMA prvotno nailazio na
                        kritike i izazove regulative, stekao je široko priznanje i prihvaćanje kao legitimni sport.
                        Danas, MMA upravljaju sportski savezi i federacije diljem svijeta, sa standardiziranim skupovima
                        pravila i protokola kako bi osigurali fer natjecanje i sigurnost boraca.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mb-5">
    <div class="container">
        <h2 class="text-center text-white mt-5 mb-5" style="font-weight: bolder;">ISPUNITE OBRAZAC ZA <span
                style="color: rgb(210, 24, 24);">PRIJAVU</span></h2>
                <form [formGroup]="form" (ngSubmit)="submitForm()" class="form-custom bg-dark text-white p-3  border border-danger">
                    <div class="form-group">
                      <label for="fullName">Ime i prezime</label>
                      <input formControlName="fullName" type="text" class="form-control bg-dark text-white border-danger" id="fullName"
                        placeholder="Ime i prezime">
                    </div>
                    <div class="form-group">
                      <label for="email">Email</label>
                      <input formControlName="email" type="email" class="form-control bg-dark text-white border-danger" id="email"
                        placeholder="Enter Email">
                    </div>
                    <div class="form-group">
                      <label for="contactNumber">Kontakt broj</label>
                      <input formControlName="contactNumber" type="tel" class="form-control bg-dark text-white border-danger" id="contactNumber"
                        placeholder="Kontakt broj">
                    </div>
                    <div class="form-group">
                      <label for="sport">Odaberi sport</label>
                      <select formControlName="sport" class="form-control bg-dark text-white border-danger" id="sport">
                        <option value="" selected="selected" disabled="disabled"></option>
                        <option value="MMA">MMA</option>
                        <option value="SAMBO">SAMBO</option>
                        <option value="COMBAT SAMBO">COMBAT SAMBO</option>
                        <option value="FITNESS">FITNESS</option>
                      </select>
                    </div>
                    <div class="form-group text-center">
                      <button type="submit" class="btn btn-danger mt-3">Pošalji</button>
                    </div>
                  </form>
    </div>
</div>