.section_slika_services {
    width: 100vw;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    object-fit: cover;
    background-position: center;
}

.section_slika_services {
    height: 100px;
}

.fontCustom{
    font-size: 45px;
    color: white;
    font-weight: bolder;
    @media (max-width: 450px) {
        font-size: 20px;
    }

}
.fontCustom2{
    font-weight: bold;
}

.text-wrapper1 {
    position: relative;
    top: 85%;
    left: 25%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    text-align: left;
    max-width: 500px;
    @media (max-width: 1200px) {
        width: 100%;
        top: 65%;
        left: 50%;
        padding: 25px;
        transform: translate(-50%, -30%);
    }
    @media (max-width: 450px) {
        width: 100%;
        top: 48%;
        left: 50%;
        padding: 25px;
        transform: translate(-50%, -30%);
    }
}
.custom-input-border{
    border-bottom: 0 !important;
}

.centered-text {
    font-size: 40px;
    font-weight: bold;
    line-height: normal !important;
    max-width: 500px;
    color: white;
    @media (max-width: 450px) {
        font-size: 35px;
        padding-right: 80px;
        font-weight: bold;
        
    }
}
.bg-lightt{
    background-color: rgba(255, 255, 255, 0.868)
}
.custom-input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid red;
    border-radius: 0;
    color: white;
}
.white-text{
    color: white;
    font-weight: bold;
}
.inputBorder1{
    border: 1px solid red;
}
.sekcijaGlavna{
    background-color: rgba(0, 0, 0, 0.868);
}

.green-bg-button2{

    width: 100px;
    background-color: rgb(188, 31, 31);
    border: none;
    border-radius: 0;
    color: white;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bolder;
    padding: 10px 20px;
    cursor: pointer;
    transform: translateY(2px);
    margin-left: 10px;
    margin-right: 10px;
  
    background: linear-gradient(to right, black 50%, rgb(188, 31, 31) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 1s ease;
  
    &:hover {
      background-position: left bottom;
    }
  }