<div class="section1-wrapper">
    <div class="section_slika_services" [style.background-size]="backgroundSize">
        <div class="text-wrapper1">
            <p class="centered-text">SAMBO</p>

        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="container">
        <div class="row justify-content-center yellow">
            <div class="col-lg-6 green d-flex justify-content-center">
                <div class="text-wrapper d-flex flex-column align-items-center justify-content-center ">
                    <h4 class="text-wrapper-h4"><b>Sambo, što znači "SAMozashchita Bez Oruzhiya" na ruskom (prevodi se
                            kao "samoobrana bez oružja"), potječe iz Sovjetskog Saveza 1920-ih godina. Razvijen je kao
                            sveobuhvatna borilačka vještina koja kombinira elemente juda, hrvanja i raznih autohtonih
                            sovjetskih borilačkih vještina.</b></h4>
                    <p class="text-wrapper-p">Sambo dijeli sličnosti s judom u svojim tehnikama bacanja i s hrvanjem u
                        borbi na tlu i zadržavanju.
                    </p>
                    <p class="text-wrapper-p text-wrapper-p-fix-mobile1">
                        Tijekom godina, pojavilo se nekoliko legendarnih boraca kao majstori Samboa, pokazujući njegovu
                        učinkovitost u borilačkim sportovima. Značajni su Fedor Emelianenko, često smatran jednim od
                        najvećih mješovitih boraca svih vremena, te Khabib Nurmagomedov, dominantna snaga u UFC-ovoj
                        lakoj kategoriji. Ti sportaši su pokazali raznolikost i učinkovitost tehnika Samboa u svijetu
                        MMA. Osim njih poznati su i Aleksandar Karelin, Oleg Taktarov and Vitaly Minakov.
                    </p>
                </div>

            </div>
            <div class="col-lg-6 red d-flex justify-content-center">
                <img src="/assets/mma_01.jpg" alt="Red" class="slika1">
            </div>
        </div>
        <div class="row justify-content-center blue">
            <div class="col-lg-6 col-12 order-2 order-lg-1 d-flex justify-content-center">
                <img src="/assets/mam_02.jpg" alt="Yellow" class="slika1">
            </div>
            <div class="col-lg-6 col-12 order-1 order-lg-2 d-flex justify-content-center">
                <div class="text-wrapper">
                    <p class="text-wrapper-p text-wrapper-p-fix-mobile2">Sambo je stekao popularnost diljem svijeta zbog
                        svoje praktičnosti,
                        učinkovitosti i prilagodljivosti u raznim borbenim scenarijima. Naglasak na borbi i na tlu, kao
                        i uključivanje udaraca, čini ga sveobuhvatnom borilačkom vještinom pogodnom za samoobranu, sport
                        i vojnu primjenu. Dodatno, uspjeh praktikanata Samboa u MMA-u pridonio je njegovom rastućem
                        prepoznavanju i privlačnosti među ljubiteljima borilačkih vještina.

                        Sambo je dobio priznanje Međunarodnog olimpijskog odbora (MOO) 2018. godine, označavajući
                        značajan korak za sport. Iako još nije uključen u Olimpijske igre, njegovo priznanje od strane
                        MOO-a svjedoči o njegovoj rastućoj globalnoj popularnosti i naporima međunarodne sambo zajednice
                        da promiče i razvija sport na olimpijskoj pozornici.</p>
                </div>
            </div>
        </div>

    </div>

</div>
<div class="container-fluid mb-5">
    <div class="container">
        <h2 class="text-center text-white mt-5 mb-5">ISPUNITE OBRAZAC ZA <span
                style="color: rgb(210, 24, 24);">PRIJAVU</span></h2>
        <form class="form-custom bg-dark text-white p-3  border border-danger">
            <div class="form-group">
                <label for="fullName">Ime i prezime</label>
                <input type="text" class="form-control bg-dark text-white border-danger" id="fullName"
                    placeholder="Ime i prezime">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control bg-dark text-white border-danger" id="email"
                    placeholder="Enter Email">
            </div>
            <div class="form-group">
                <label for="contactNumber">Kontakt broj</label>
                <input type="tel" class="form-control bg-dark text-white border-danger" id="contactNumber"
                    placeholder="Kontakt broj">
            </div>
            <div class="form-group">
                <label for="sport">Odaberi sport</label>
                <select class="form-control bg-dark text-white border-danger" id="sport">
                    <option selected="selected" disabled="disabled"></option>
                    <option>MMA</option>
                    <option>SAMBO</option>
                    <option>COMBAT SAMBO</option>
                    <option>FITNESS</option>
                </select>
            </div>
            <div class="form-group">
                <label for="type">Način treniranja</label>
                <select class="form-control bg-dark text-white border-danger" id="type">
                    <option selected="selected" disabled="disabled"></option>
                    <option>Online</option>
                    <option>Privatno</option>
                </select>
            </div>
            <div class="form-group text-center">
                <button type="submit" class="btn btn-danger mt-3">Pošalji</button>
            </div>
        </form>
    </div>
</div>