<section class="section1">
    <div class="row">
        <div class="col-md-12">
            <div class="position-absolute start-0 end-0 top-0 bottom-0 min-vh-100">
                <ng-container *ngFor="let image of images; let i = index">
                    <img [src]="image" [ngClass]="{
                        'fade-in': i === activeIndex && pageLoaded,
                        'fade-out': i === previousIndex && pageLoaded,
                        'slider-image position-absolute start-0 top-0' : true
                      }" [@zoomOut]="i === activeIndex ? zoomState : 'large'" (@zoomOut.done)="onZoomOutEnd()"
                        *ngIf="i === activeIndex || i === previousIndex" />
                    <div class="text-wrapper text-wrapperKlasa position-absolute start-0 top-50"
                        *ngIf="i === activeIndex">
                        <p class="firstP">Welcome To The Fight!</p>
                        <h1 class="firstH1">The Best <span style="color: rgb(188, 31, 31);">Boxing </span>School and
                            Martial Arts In The World</h1>
                        <p class="secondp">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eius tempor
                            incididunt ut
                            labore et dolore magna aliqua. ad minim venia, </p>
                        <button class="getStartedBtn">GET STARTED</button>
                    </div>
                </ng-container>
                <div class="slider-pagination container position-relative start-0 end-0 bottom-0"
                    (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
                    <div class="carousel-icons carousel-iconscontainer">
                        <ng-container *ngFor="let image of images; let i = index">
                            <div class="carousel-icon" [ngClass]="{'active': i === activeIndex}" (click)="goToImage(i)">
                                <div class="stripe"></div>
                                <div class="stripe"></div>
                                <div class="stripe"></div>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="new-section" style="margin-top: 100vh;">
    <!-- Your content here -->
</section>