<div class="container-fluid" id="overflow">

    <!-- NASLOVNA SLIKE SECTION -->
    <section class="section1">
        <div class="row">
            <div class="col-md-12">
                <div class="position-absolute start-0 end-0 top-0 bottom-0 pozicija">
                    <ng-container *ngFor="let image of images; let i = index">
                        <img [src]="image" [ngClass]="{
                        'fade-in': i === activeIndex && pageLoaded,
                        'fade-out': i === previousIndex && pageLoaded,
                        'slider-image position-absolute start-0 top-0' : true
                      }" *ngIf="i === activeIndex || i === previousIndex" />
                        <div class="text-wrapper text-wrapperKlasa position-absolute start-0 top-50"
                            [ngClass]="{'pushed-down': (navbarService.isDropdownOpened('programi') || navbarService.isDropdownOpened('sportovi')) && !navbarService.isNavbarCollapsed()}">
                            <p class="firstP">Dobrodošli u Crows</p>
                            <h1 class="firstH1">Mjesto gdje <span style="color: rgb(188, 31, 31);">se <br> stvaraju
                                </span>prvaci</h1>
                            <p class="secondp">Treniraj s pionirima Samba i MMA sporta u Hrvatskoj.</p>
                            <button class="getStartedBtn" (click)="scrollToSection()">PRIDRUŽI SE</button>
                        </div>
                    </ng-container>
                    <div class="slider-pagination container position-relative start-0 end-0 bottom-0"
                        (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
                        <div class="carousel-icons carousel-iconscontainer">
                            <ng-container *ngFor="let image of images; let i = index">
                                <div class="carousel-icon" [ngClass]="{'active': i === activeIndex}"
                                    (click)="goToImage(i)">
                                    <div class="stripe"></div>
                                    <div class="stripe"></div>
                                    <div class="stripe"></div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- TO DOLE SLUZI ZA RAZMAK IZMEDJU SEKCIJA, VAZNO ZA SHEME! NE DIRAJ, POVEZANO SA NAV.SERVICE -> NAVBAROM -->
    <div class="rowStyle1"
        [class.navbar-toggler-active]="navbarTogglerState && !(navbarService.isDropdownOpened('programi') || navbarService.isDropdownOpened('sportovi')) && !navbarService.isNavbarCollapsed()"
        [class.dropdown-active]="(navbarService.isDropdownOpened('programi') || navbarService.isDropdownOpened('sportovi')) && !navbarService.isNavbarCollapsed()">
        <div class="col-md-12" id="uniquecontainerSection2Scroll">

        </div>
    </div>
    <!-- ZA DJECU ZA ODRASLE SECTION -->
    <div class="outer-container">
        <div class="container-fluid" id="uniquecontainerSection2">
            <div class="row">
                <div class="col-lg-6 blue-bg">
                    <div class="row">
                        <a class="col-12 col-md-6 col-lg-6 yellow-bg image-bg">
                            <!-- content je u scss-u -->
                        </a>
                        <div class="col-12 col-md-6 col-lg-6 green-bg">
                            <a class="green-bg-a-div" style="text-decoration: none;">
                                <h4 class="green-bg-h4"><span style="color: rgb(188, 31, 31);">Treninzi</span><br>za
                                    odrasle
                                </h4>
                                <span href="#" style="text-decoration: none;" class="green-bg-a-decoration">-</span>
                                <p class="green-bg-p">Napravite uslugu svom tijelu. Trenirajte rekreativno,
                                    profesionalno ili poluprofesionalno. Odaberite spoj koji Vam najviše odgovara!</p>
                            </a>
                            <div class="green-bg-price">
                                <span class="green-bg-price-from">cijena od</span><span
                                    class="green-bg-price-currency">40 €</span>
                            </div>
                            <button class="green-bg-button" [routerLink]="['/za_odrasle']">Zanima me</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 red-bg">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-6 purple-bg image-bg2 order-1 order-md-2 order-lg-1">

                        </div>
                        <div class="col-12 col-md-6 col-lg-6 pink-bg order-2 order-md-1 order-lg-2">
                            <a class="green-bg-a-div" style="text-decoration: none;">
                                <h4 class="green-bg-h4"><span style="color: rgb(188, 31, 31);">Treninzi</span><br>Za
                                    djecu
                                </h4>
                                <span href="#" style="text-decoration: none;" class="green-bg-a-decoration">-</span>
                                <p class="green-bg-p">Samoobrana i borilačke vještine su temelj samopouzdanja djece.
                                    Uče se osnove gimnastike, judo, sambo i
                                    naravno zabava uz koordinaciju.</p>
                            </a>
                            <div class="green-bg-price">
                                <span class="green-bg-price-from">cijena od</span><span
                                    class="green-bg-price-currency">40 €</span>
                            </div>
                            <button class="green-bg-button" [routerLink]="['/za-djecu']">Zanima me</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- TESTEMONIALS SECTION -->
    <div class="container-fluid">
        <div class="row rowStyle5 d-flex justify-content-center zindex2">
            <ngb-carousel>
                <ng-template ngbSlide>
                    <div class="text-center testemonialDivs image-container">
                        <img src="/assets/12-c.png" style="height: 400px; width: 400px;" alt="">
                        <img src="/assets/14-c.png" style="height: 400px; width: 400px;" alt="">
                        <img src="/assets/15-c.png" style="height: 400px; width: 400px;" alt="">
                        <img src="/assets/13-c.png" style="height: 400px; width: 400px;" alt="">
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <div class="text-center testemonialDivs image-container">
                        <img src="/assets/1-c.png" style="height: 400px; width: 400px;" alt="">
                        <img src="/assets/2-c.png" style="height: 400px; width: 400px;" alt="">
                        <img src="/assets/3-c.png" style="height: 400px; width: 400px;" alt="">
                        <img src="/assets/4-c.png" style="height: 400px; width: 400px;" alt="">
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <div class="text-center testemonialDivs image-container">
                        <img src="/assets/5-c.png" style="height: 400px; width: 400px;" alt="">
                        <img src="/assets/6-c.png" style="height: 400px; width: 400px;" alt="">
                        <img src="/assets/7-c.png" style="height: 400px; width: 400px;" alt="">
                        <img src="/assets/8-c.png" style="height: 400px; width: 400px;" alt="">
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <div class="text-center testemonialDivs image-container">
                        <img src="/assets/9-c.png" style="height: 400px; width: 400px;" alt="">
                        <img src="/assets/10-c.png" style="height: 400px; width: 400px;" alt="">
                        <img src="/assets/11-c.png" style="height: 400px; width: 400px;" alt="">
                        <img src="/assets/8-c.png" style="height: 400px; width: 400px;" alt="">
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
    </div>
    <!-- SPORTOVI SECTION -->
    <div class="container-fluid" id="sectionSportovi">
        <div class="row rowStyle6">
            <div class="col-12 col-md-6 col-lg-3 cols-sports cols-sports1 text-center" routerLink="/mma">
                <div class=" headwrapper">
                    <div class="icon-wrapper">
                        <div class="modul-icon">
                            <img src="/assets/vrana-logo-stamp.png" alt="" style="width: 100px;">
                        </div>
                    </div>
                    <div class="titlewrapper">
                        <h4 class="h4-title-carousel">Mixed Martial Arts</h4>
                    </div>
                </div>
                <div class="container-info info-popup " style="padding-top: 0px;">
                    <div class="empty-cell">
                        <div class="content-cell">
                            <div class="description"
                                style="color:#ffffff;font-size:14px;line-height:20px; font-weight: bolder;">
                                Učenje osnovih tehnika udaranja, hrvanja, bacanja te jiu jitsu. Sve treninge vodi naš
                                glavni trener sa puno iskustva. Ako si dobar možeš nastupati na regionalnim
                                profesionalnim natjecanjima.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 cols-sports cols-sports2 text-center" routerLink="/sambo">
                <div class=" headwrapper">
                    <div class="icon-wrapper">
                        <div class="modul-icon">
                            <img src="/assets/vrana-logo-stamp.png" alt="" style="width: 100px;">
                        </div>
                    </div>
                    <div class="titlewrapper">
                        <h4 class="h4-title-carousel">SAMBO</h4>
                    </div>
                </div>
                <div class="container-info info-popup " style="padding-top: 0px;">
                    <div class="empty-cell">
                        <div class="content-cell">
                            <div class="description"
                                style="color:#ffffff;font-size:14px;line-height:20px; font-weight: bolder;">
                                Radimo procjenu iskustva i vještina te po tome krojimo vrstu treninga za tebe, osnovne
                                tehnike, napredne tehnike, tehnike za natjecanje – sve što ti treba za pravu samoobranu!
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 cols-sports cols-sports3 text-center" routerLink="/combat_sambo">
                <div class=" headwrapper">
                    <div class="icon-wrapper">
                        <div class="modul-icon">
                            <img src="/assets/vrana-logo-stamp.png" alt="" style="width: 100px;">
                        </div>
                    </div>
                    <div class="titlewrapper">
                        <h4 class="h4-title-carousel">COMBAT SAMBO</h4>
                    </div>
                </div>
                <div class="container-info info-popup " style="padding-top: 0px;">
                    <div class="empty-cell">
                        <div class="content-cell">
                            <div class="description"
                                style="color:#ffffff;font-size:14px;line-height:20px; font-weight: bolder;">
                                Kome Mma nije dovoljan dolazi na Combat! Tehnike udaranja i juda u jednom sportu čine
                                ovaj sport najzahtjevnijim od svih. Zbog toga je tu naš Dejan, trener hrvatske combat
                                sambo reprezentacije i najuspješniji natjecatelj u ovom sportu u RH.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 cols-sports cols-sports4 text-center" routerLink="/fitness">
                <div class=" headwrapper">
                    <div class="icon-wrapper">
                        <div class="modul-icon">
                            <img src="/assets/vrana-logo-stamp.png" alt="" style="width: 100px;">
                        </div>
                    </div>
                    <div class="titlewrapper">
                        <h4 class="h4-title-carousel">FITNESS</h4>
                    </div>
                </div>
                <div class="container-info info-popup " style="padding-top: 0px;">
                    <div class="empty-cell">
                        <div class="content-cell">
                            <div class="description"
                                style="color:#ffffff;font-size:14px;line-height:20px; font-weight: bolder;">
                                Čeka te cardio, kružni treninzi, grupni treninzi te dizanje mišićne mase. Uz sve
                                dostupne rekvizite treba ti samo volja!
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- PARALAX SECTION -->

    <!-- <div class="parallaxcontainer">
        <div class="parallaxcontainer">
        </div>
    </div> -->
    <!-- BURAZ -->


    <div class="container-fluid">
        <div class="container">
            <div class="row justify-content-center yellow p-1">

                <div class="col-lg-6 red d-flex justify-content-center">
                    <img src="/assets/123.jpg" alt="Red" class="slika1" style="height: 600px;">
                </div>
                <div class="col-lg-6 green d-flex justify-content-center">
                    <div class="text-wrapper abc d-flex flex-column align-items-center justify-content-center ">
                        <h4 class="text-wrapper-h4 mb-4 mt-4"><b>U središtu našeg kluba stoji naš glavni trener – <span
                                    style="color: rgb(158, 1, 1)">Dejan
                                    Gunjavić.</span>
                                Kao stup izvrsnosti i predanosti njegova strast prema borilačkim sportovima nadilazi
                                granice te oblikuje put sportaša i natjecatelja.</b></h4>
                        <p class="text-wrapper-p">Dejan je hrvatski najuspješniji sportaš u disciplini ,,Combat Sambo’’
                            sa broncom na Europskom prvenstvu u Kazanu 2016. i Gijonu 2019. godine te srebrom na
                            Svjetskom kupu u Irkutsku 2019. godine. Trenutno je izbornik hrvatske reprezentacije Combat
                            Samba, sudac na nacionalnim natjecanjima u Sambu i Combat sambu i član Komisije sportaša u
                            Hrvatskom sambo savezu.
                        </p>
                        <p class="text-wrapper-p">
                            Više od trenera, Dejan utjelovljuje vrijednosti sportskog duha i prijateljstva. Uvijek
                            spreman pomoći, dati savjet i raditi kao sparing partner za svoje borce, inspiracija je za
                            one oko sebe da dosegnu visoke razine. Izvan borilišta poznat je po svojoj ljubaznosti i
                            iskrenoj brizi za ljude oko sebe.
                        </p>
                        <p class="text-wrapper-p aboutUsPP">
                            Pridružite se našem timu uz njegovo vodstvo!
                        </p>
                        <div class="d-flex flex-column flex-sm-row justify-content-between w-70">
                            <button type="button" class="green-bg-button2 mb-2 mb-sm-0"
                                [routerLink]="['/za_odrasle']">Treninzi za odrasle</button>
                            <button type="button" class="green-bg-button2" [routerLink]="['/za-djecu']">Treninzi za
                                djecu</button>
                        </div>

                    </div>

                </div>
            </div>
        </div>

    </div>

    <!-- ABOUT SECTION BENEFITS -->
    <div class="container-fluid" id="containerFluidSection3">
        <div [ngClass]="screenWidth < 1200 ? 'container-fluid' : 'container'" id="containerSection3">
            <div class="text-center">
                <p class="aboutUsP">O nama</p>
                <h4 class="aboutUsH4 ssH">Benefiti treniranja</h4>
                <span href="#" style="text-decoration: none;" class="red-bg-a-decoration">-</span>
            </div>
            <div class="row d-flex justify-content-center align-items-center aboutUsRow">
                <div class="col-md-3 mx-md-5 text-lg-start text-md-start text-small-Ws-manipulation1 red-margins-right"
                    style="max-height: 500px;">
                    <div class="red-header-wrapper red-margins-right">
                        <div class="red-header-left1">
                            <h5 class="mb-3 red-header-h5 ssp">Fizička kondicija</h5>
                        </div>
                        <div class="red-header-left1 red-margins-right">
                            <h5 class="mb-3 red-header-h5 ssp">Samoobrana</h5>

                        </div>
                        <div class="red-header-left1 red-margins-right">
                            <h5 class="mb-3 red-header-h5 ssp">Samopouzdanje</h5>

                        </div>
                    </div>

                </div>
                <div class="col-md-3 px-md-3 d-none d-lg-block red-middle">
                    <img src="/assets/boxing-glove.png" alt="" style="width: 300px;">
                </div>
                <div class="col-md-3 mx-md-5 text-lg-end text-md-end text-small-Ws-manipulation2"
                    style="max-height: 500px;">
                    <div class="red-header-wrapper  red-margins-left">
                        <div class="red-header-right1">
                            <h5 class="mb-3 red-header-h5 ssp">Disciplina</h5>

                        </div>
                        <div class="red-header-right1  red-margins-left">
                            <h5 class="mb-3 red-header-h5 ssp">Oslobađanje stresa
                            </h5>

                        </div>
                        <div class="red-header-right1  red-margins-left">
                            <h5 class="mb-3 red-header-h5 ssp">Timski rad i
                                prijateljstvo</h5>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- PARALAX SECTION2 -->
    <div class="parallaxcontainer">
        <div class="parallaxcontainer">
        </div>
    </div>

    <!-- FORMA -->
    <div class="container-fluid mb-5">
        <div class="container">
            <h2 class="text-center text-white mt-5 mb-5" style="font-weight: bolder;">ISPUNITE OBRAZAC ZA <span
                    style=" color: rgb(210, 24, 24);">PRIJAVU</span></h2>
            <form [formGroup]="form" (ngSubmit)="submitForm()"
                class="form-custom bg-dark text-white p-3  border border-danger">
                <div class="form-group">
                    <label for="fullName">Ime i prezime</label>
                    <input type="text" class="form-control bg-dark text-white border-danger" id="fullName"
                        placeholder="Ime i prezime">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control bg-dark text-white border-danger" id="email"
                        placeholder="Enter Email">
                </div>
                <div class="form-group">
                    <label for="contactNumber">Kontakt broj</label>
                    <input type="tel" class="form-control bg-dark text-white border-danger" id="contactNumber"
                        placeholder="Kontakt broj">
                </div>

                <!-- DODATI DA KAD STISNU ZA DJECU DA NEDA NISTA DRUGI DIO FORME OSIM SAMBO -->
                <div class="form-group">
                    <label for="type">Tip treninga</label>
                    <select formControlName="type" class="form-control bg-dark text-white border-danger" id="type">
                        <option selected="selected" disabled="disabled"></option>
                        <option>Treninzi za djecu</option>
                        <option>Treninzi za odrasle</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="sport">Odaberi sport</label>
                    <select formControlName="sport" class="form-control bg-dark text-white border-danger" id="sport">
                        <option *ngFor="let sport of sportsOptions" [value]="sport">{{sport}}</option>
                    </select>
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-danger mt-3">Pošalji</button>
                </div>
            </form>
        </div>
    </div>
    <!-- SPONZORI -->


    <div class="container-fluid mb-0" id="containerSponzori">
        <div class="row rowStyle7">
            <div class="col-md-3 sponsor-image d-flex justify-content-center align-items-center">
                <img src=" /assets/mma_savez_part.jpg" alt="Sponsor 1" style="width: 400px;">
            </div>
            <div class="col-md-3 sponsor-image d-flex justify-content-center align-items-center">
                <img src="/assets/sambo_savez_part.jpg" alt=" Sponsor 2" style="width: 400px;">
            </div>
            <div class="col-md-3 sponsor-image d-flex justify-content-center align-items-center">
                <img src="/assets/logo_lollipop_transparent_full.png" alt=" Sponsor 2" style="width: 400px;">
            </div>
            <div class="col-md-3 sponsor-image d-flex justify-content-center align-items-center">
                <img src="/assets/crossroads logo.png" alt=" Sponsor 2" style="width: 150px; padding-bottom: 10px;">
            </div>

        </div>
    </div>


    <!-- FORMA SECTION -->
    <!-- 
    <div class="container-fluid" id="formaContainerFluid">
        <div class="container" id="formcontainer">
            <h1 class="h1form text-center mb-5">Contact Us for a free Quote</h1>
            <form>
                <div class="row rowStyle8">
                    <div class="form-group col-md-6 col-sm-12">
                        <input type="text" class="form-control" id="name" placeholder="Name">
                    </div>
                    <div class="form-group col-md-6 col-sm-12">
                        <input type="email" class="form-control" id="email" placeholder="Email">
                    </div>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="subject" placeholder="Subject">
                </div>
                <div class="form-group">
                    <textarea class="form-control" id="message" rows="3" placeholder="Message"></textarea>
                </div>
                <button type="submit" class="btn btn-primary submitgumb text-center ">Submit</button>
            </form>
        </div>
    </div> -->








</div>