
.section1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: fit-content;
  object-fit: cover;
  z-index: 1;
}
.picsum-img-wrapper img {
  object-fit: cover;
  height: 100%;
}
.carousel-item {
  position: absolute;
  opacity: 0;
}

.carousel-item.active {
  position: relative;
  opacity: 1;
}
.active {
  opacity: 1;
  position: relative;
}

.inactive {
  opacity: 0;
  position: absolute;
}

.fade-in {
  animation: fadeIn 2s ease-in forwards;
}

.fade-out {
  animation: fadeOut 2s ease-out forwards;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}
.section1 .row .col-md-12 div {
  //position: absolute;
}

.slider-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}


.slider-pagination{
  height: 10px;
  top: 100px;
}

.carousel-icons {
  display: flex;
  justify-content: center;
}

.carousel-icon {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: #ccc;
  border-radius: 50%;
  cursor: pointer;
}

.carousel-icon.active {
  background-color: #333;
}
.section2 {
  position: absolute;
  top: calc(100% - 50px);
  width: 100%;
}
.text-wrapperKlasa {
  position: absolute;
  transform: translate(calc(50% + 15%), -160px); // Move the div to the left by 75% of its width and up by 50px
  max-width: 580px;
}

@media (max-width: 3256px) {
  .text-wrapperKlasa {
      transform: translate(calc(50% + 130%), -160px);
  }
}

@media (max-width: 3100px) {
  .text-wrapperKlasa {
      transform: translate(calc(50% + 118%), -160px);
  }
}

@media (max-width: 2900px) {
  .text-wrapperKlasa {
      transform: translate(calc(50% + 100%), -160px);
  }
}
@media (max-width: 2800px) {
  .text-wrapperKlasa {
      transform: translate(calc(50% + 90%), -160px);
  }
}
@media (max-width: 2700px) {
  .text-wrapperKlasa {
      transform: translate(calc(50% + 80%), -160px);
  }
}
@media (max-width: 2600px) {
  .text-wrapperKlasa {
      transform: translate(calc(50% + 70%), -160px);
  }
}

@media (max-width: 2500px) {
  .text-wrapperKlasa {
      transform: translate(calc(50% + 60%), -160px);
  }
}

@media (max-width: 2400px) {
  .text-wrapperKlasa {
      transform: translate(calc(50% + 50%), -160px);
  }
}

@media (max-width: 2300px) {
  .text-wrapperKlasa {
      transform: translate(calc(50% + 40%), -160px);
  }
}

@media (max-width: 2200px) {
  .text-wrapperKlasa {
      transform: translate(calc(50% + 30%), -160px);
  }
}

@media (max-width: 2100px) {
  .text-wrapperKlasa {
      transform: translate(calc(50% + 20%), -160px);
  }
}

@media (max-width: 2000px) {
  .text-wrapperKlasa {
      transform: translate(calc(50% + 10%), -160px);
  }
}

@media (max-width: 1900px) {
  .text-wrapperKlasa {
      transform: translate(calc(50% + 0%), -160px);
  }
}
@media (max-width: 1600px) {
  .text-wrapperKlasa {
      transform: translate(calc(50% - 10%), -160px);
  }
}
@media (max-width: 1500px) {
  .text-wrapperKlasa {
      transform: translate(calc(50% - 15%), -160px);
  }
}
@media (max-width: 1400px) {
  .text-wrapperKlasa {
      transform: translate(calc(50% - 20%), -160px);
  }
}
@media (max-width: 1300px) {
  .text-wrapperKlasa {
      transform: translate(calc(50% - 25%), -160px);
  }
}
@media (max-width: 1200px) {
  .text-wrapperKlasa {
      transform: translate(calc(50% - 30%), -160px);
  }
}
@media (max-width: 1100px) {
  .text-wrapperKlasa {
      transform: translate(calc(50% - 35%), -160px);
  }
}
@media (max-width: 1000px) {
  .text-wrapperKlasa {
      transform: translate(calc(50% - 40%), -110px);
  }
}
@media (max-width: 900px) {
  .text-wrapperKlasa {
      transform: translate(calc(50% - 45%), -110px);
  }
}
@media (max-width: 800px) {
  .text-wrapperKlasa {
      transform: translate(calc(50% - 50%), -110px);
  }
}
@media (max-width: 800px) {
  .text-wrapperKlasa {
      transform: translate(calc(50% - 45%), -110px);
  }
}
@media (max-width: 580px) {
  .text-wrapperKlasa {
      margin: 20px;
      width: 350px;
  }
}
@media (max-width: 375px) {
  .text-wrapperKlasa {
      margin: 20px;
      width: 250px;
      transform: translate(calc(50% - 45%), -130px);
  }
}
//da dropdown na mobile gurne tekst na dole isto dio navbar service i navbar.ts i html-bundle. !! VAZNO
@media (max-width: 1000px) {
  .text-wrapper.pushed-down {
    transform: translate(calc(50% - 40%), calc(-160px + 200px));  // Adjust this value as needed
  }
}

.firstP{
  color: rgb(188, 31, 31);
  font-weight: bolder;
  margin-bottom: 0px;
  text-transform: uppercase;
  
}
.secondp{
color: white;

}
.firstH1{
  color: white;
  font-weight: bolder;
  text-transform: uppercase;
}
.getStartedBtn {
  width: 200px;
  background-color: rgb(188, 31, 31);
  border: none;
  border-radius: 0;
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bolder;
  padding: 10px 20px;
  cursor: pointer;
  transform: translateY(2px);
  transition: transform 0.3s ease, background-color 0.3s ease;
}
.getStartedBtn:hover {
  background-color: rgb(158, 1, 1);
  transform: translateY(-2px);
}

/////SECTION1 TRANSITION JAKO POVEZANO SA NAVBAROM TAKO DA AKO KOPIRAS KOPIRAJ NAV SERVICE I CJELI NAV.TS I HTML- BUNDLE/// 
.rowStyle1 {
  height: 100px;
  background-color: rgb(0, 0, 0);
  margin-top: 85vh;
}
.rowStyle1.navbar-toggler-active {
  margin-top: 55vh;
}
.dropdown-active{
  margin-top: 35vh;
  background-color: rgb(0, 0, 0);
}

//SECTION2
.rowStyle2{
  height: 500px;
  background-color: rgb(0, 0, 0);
  
}