#overflow{
  max-width: 100vw;
  overflow: hidden;
}
.pozicija{
  min-height: 100vh;
}
@media (max-width: 1200px) {
  .pozicija {
      min-height: 60vh;
  }
}

.section1 {
  position: relative;
  top: 0;
  left: -5px;
  width: 100vw;
  height: fit-content;
  object-fit: cover;
  z-index: 1;
}
.picsum-img-wrapper img {
  object-fit: cover;
  height: 100%;
  width: 100vw;
}
.carousel-item {
  position: absolute;
  opacity: 0;
}

.carousel-item.active {
  position: relative;
  opacity: 1;
}
.active {
  opacity: 1;
  position: relative;
}
img {
  object-fit: cover;
  height: 100%;
  width: 100vw; /* This will make the image take up the full width of the viewport */
}

.inactive {
  opacity: 0;
  position: absolute;
}

.fade-in {
  animation: fadeIn 2s ease-in forwards;
}

.fade-out {
  animation: fadeOut 2s ease-out forwards;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}
.section1 .row .col-md-12 div {
  //position: absolute;
}

.slider-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}


.slider-pagination{
  height: 10px;
  top: 100px;
}

.carousel-icons {
  display: flex;
  justify-content: center;
}

.carousel-icon {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: #ccc;
  border-radius: 50%;
  cursor: pointer;
}

.carousel-icon.active {
  background-color: #333;
}
.section2 {
  position: absolute;
  top: calc(100% - 50px);
  width: 100%;
}
.text-wrapperKlasa {
  position: absolute;
  transform: translate(calc(50% + 15%), -160px); // Move the div to the left by 75% of its width and up by 50px
  max-width: 580px;
}

@media (max-width: 3256px) {
  .text-wrapperKlasa {
      transform: translate(calc(50% + 130%), -160px);
  }
}

@media (max-width: 3100px) {
  .text-wrapperKlasa {
      transform: translate(calc(50% + 118%), -160px);
  }
}

@media (max-width: 2900px) {
  .text-wrapperKlasa {
      transform: translate(calc(50% + 100%), -160px);
  }
}
@media (max-width: 2800px) {
  .text-wrapperKlasa {
      transform: translate(calc(50% + 90%), -160px);
  }
}
@media (max-width: 2700px) {
  .text-wrapperKlasa {
      transform: translate(calc(50% + 80%), -160px);
  }
}
@media (max-width: 2600px) {
  .text-wrapperKlasa {
      transform: translate(calc(50% + 70%), -160px);
  }
}

@media (max-width: 2500px) {
  .text-wrapperKlasa {
      transform: translate(calc(50% + 60%), -160px);
  }
}

@media (max-width: 2400px) {
  .text-wrapperKlasa {
      transform: translate(calc(50% + 50%), -160px);
  }
}

@media (max-width: 2300px) {
  .text-wrapperKlasa {
      transform: translate(calc(50% + 40%), -160px);
  }
}

@media (max-width: 2200px) {
  .text-wrapperKlasa {
      transform: translate(calc(50% + 30%), -160px);
  }
}

@media (max-width: 2100px) {
  .text-wrapperKlasa {
      transform: translate(calc(50% + 20%), -160px);
  }
}

@media (max-width: 2000px) {
  .text-wrapperKlasa {
      transform: translate(calc(100% + 10%), -160px);
  }
}

@media (max-width: 1900px) {
  .text-wrapperKlasa {
    transform: translate(80%, -160px);
  }
}
@media (max-width: 1600px) {
  .text-wrapperKlasa {
      transform: translate(calc(60% - 10%), -160px);
  }
}
@media (max-width: 1500px) {
  .text-wrapperKlasa {
      transform: translate(calc(50% - 15%), -160px);
  }
}
@media (max-width: 1400px) {
  .text-wrapperKlasa {
      transform: translate(calc(50% - 20%), -160px);
  }
}
@media (max-width: 1300px) {
  .text-wrapperKlasa {
      transform: translate(calc(50% - 25%), -160px);
  }
}
@media (max-width: 1200px) {
  .text-wrapperKlasa {
      transform: translate(calc(50% - 30%), -10px);
  }
}
@media (max-width: 1100px) {
  .text-wrapperKlasa {
    transform: translate(15%, -10px);
  }
}
@media (max-width: 1000px) {
  .text-wrapperKlasa {
      transform: translate(calc(50% - 40%), -10px);
  }
}
@media (max-width: 900px) {
  .text-wrapperKlasa {
      transform: translate(calc(50% - 45%), -10px);
  }
}
@media (max-width: 800px) {
  .text-wrapperKlasa {
    transform: translate(10%, -10px);
  }
}
@media (max-width: 800px) {
  .text-wrapperKlasa {
      transform: translate(calc(50% - 45%), -10px);
  }
}
@media (max-width: 580px) {
  .text-wrapperKlasa {
      margin: 20px;
      width: 330px;
      transform: translate(calc(50% - 45%), -70px);

  }
}
@media (max-width: 375px) {
  .text-wrapperKlasa {
      margin: 20px;
      width: 290px;
      transform: translateY(-90px);
  }
}
//da dropdown na mobile gurne tekst na dole isto dio navbar service i navbar.ts i html-bundle. !! VAZNO
@media (max-width: 1000px) {
  .text-wrapper.pushed-down {
    transform: translate(calc(50% - 40%), calc(-160px + 200px));  // Adjust this value as needed
  }
}

.firstP{
  color: rgb(188, 31, 31);
  font-weight: bolder;
  margin-bottom: 0px;
  text-transform: uppercase;
  
}
.secondp{
color: white;

}
.firstH1{
  color: white;
  font-weight: bolder;
  text-transform: uppercase;
}
.getStartedBtn {
  width: 200px;
  background-color: rgb(188, 31, 31);
  border: none;
  border-radius: 0;
  color: white;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: bolder;
  padding: 10px 20px;
  cursor: pointer;
  transform: translateY(2px);
  position: relative;
  z-index: 100;

  background: linear-gradient(to right, black 50%, rgb(188, 31, 31) 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 1s ease;

  &:hover {
    background-position: left bottom;
  }
}

/////SECTION1 TRANSITION JAKO POVEZANO SA NAVBAROM TAKO DA AKO KOPIRAS KOPIRAJ NAV SERVICE I CJELI NAV.TS I HTML- BUNDLE/// 
.rowStyle1 {
  height: 100px;
  background-color: rgb(0, 0, 0);
  margin-top: 85vh;
}
@media (max-width: 1200px) {
  .rowStyle1 {
   margin-top: 45vh;
  }
}


.rowStyle1.navbar-toggler-active {
  margin-top: 55vh;
}
.dropdown-active{
  margin-top: 35vh;
  background-color: rgb(0, 0, 0);
}


//SECTION2 grid
.yellow-bg {
  height: 400px;
}

.green-bg {
  background-color: rgb(255, 255, 255);
  height: 400px;
  min-height: 400px; // Add this line
  padding: 50px;
  position: relative;
}


.purple-bg {
  height: 400px;
}

.pink-bg{
  background-color: rgb(255, 255, 255);
  height: 400px;
  min-height: 400px; // Add this line
  padding: 50px;
  position: relative;
}

@media (max-width: 576px) {
  .blue-bg, .red-bg, .yellow-bg, .green-bg, .purple-bg, .pink-bg {
      height: auto;
      min-height: 400px; // Add this line
  }
}
.image-bg {
  background-image: url('/assets/serv_01.jpg');
  background-size: cover;
  background-position: center center;

  @media (max-width: 990px) { // Small devices   
    background-size:cover;
    background-position: center 20%; // Move the i
    background-repeat: no-repeat;
  }

  @media (min-width: 991px) and (max-width: 1200px) { // Medium devices

    background-size: contain;
    background-size: 100% 100%;
    background-position: center center;
  }
}
.image-bg2 {
  background-image: url('/assets/serv_02.jpg');
  background-size: cover;
  background-position: center center;

  @media (max-width: 990px) { // Small devices   
    background-size:cover;
    background-position: center 20%; // Move the i
    background-repeat: no-repeat;
  }

  @media (min-width: 991px) and (max-width: 1200px) { // Medium devices

    background-size: contain;
    background-size: 100% 100%;
    background-position: center center;
  }
}
.outer-container {
  padding: 0; // Hide the container by default
  margin-top: 80px;

  @media (max-width: 990px) { // Small devices
    padding: 20px; // Show the container on small devices
    background-color: white;
  }
}

.green-bg-h4{
  color: rgb(0, 0, 0);
  font-weight: bolder;
  text-transform: uppercase;
}
.green-bg-a-div{
  color: black;
}
.green-bg-a-decoration {
  display: inline-block;
  width: 50px;
  height: 5px;
  background-color:  rgb(158, 1, 1);
}
.green-bg-p{
  margin-top: 24px;
}
.green-bg-price{
  margin-bottom: 24px;
}
.green-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('/assets/vrana-logo.png') center center no-repeat;
  background-color:rgb(140, 139, 139);
  opacity: 0.2; /* Adjust as needed */
  background-size: 100%;
}
.pink-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('/assets/vrana-logo.png') center center no-repeat;
  background-color:rgb(140, 139, 139);
  opacity: 0.2; /* Adjust as needed */
  background-size: 100%;
}
.green-bg-button{

    width: 150px;
    background-color: rgb(188, 31, 31);
    border: none;
    border-radius: 0;
    color: white;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bolder;
    padding: 10px 20px;
    cursor: pointer;
    transform: translateY(2px);
    position: relative;
    z-index: 100;

    background: linear-gradient(to right, black 50%, rgb(188, 31, 31) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 1s ease;
  
    &:hover {
      background-position: left bottom;
    }
  }

.green-bg-price-from{
  font-weight: bolder;
  font-size: 17px;

}
.green-bg-price-currency{
  color: rgb(188, 31, 31);
  font-weight: bolder;
  margin-left: 5px;
}
@media (max-width: 990px) {
  .green-bg {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
@media (max-width: 990px) {
  .pink-bg {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

/////////////////////////////////////////SECTION3 ABOUT US - BENEFITS /////////////////////{
.ssH{
  @media (max-width: 450px) {
    font-size: 15px;
  }
}
.ssp{
  @media (max-width: 800px) {
    font-size: 20px !important;
  }
  @media (max-width: 450px) {
    font-size: 15px !important;
  }
}
  .aboutUsRow{
    padding-bottom: 50px;
  }
#containerFluidSection3{
  background-color: #000000;
min-height: 800px;
@media (max-width: 1200px) {
  max-height: 500px;
}
@media (max-width: 1000px) {
  max-height: 1200px;
}
@media (max-width: 400px) {
  max-height: 1400px;
}
}
#containerSection3{
  background-color: #000000;
}


.red-middle{
height: 500px;
}
.red-header-left1, .red-header-right1{
  margin-bottom: 50px;
}

.red-header-wrapper{
  margin-top: 110px;
  min-width: 230px;
  @media (max-width: 1200px) {
    margin-top: 0;
  }
}
.red-header-p{
  color: whitesmoke;
  font-size: 17px;
}
.red-header-h5{
  color: rgb(214, 212, 212);
    font-weight: bolder;
    font-size: 30px;
  
}

.red-bg-a-decoration {
  display: inline-block;
  width: 50px;
  height: 5px;
  background-color:  rgb(158, 1, 1);
  margin-bottom: 44px;
}
.aboutUsH4{
  margin-bottom: 14px;
  font-weight: bolder;
  font-size: 36px;
  color: whitesmoke;
}
.aboutUsP{
  padding-top: 50px;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: bolder;
  color: rgb(158, 1, 1);

  
}

@media (max-width: 999px) {
  .text-small-Ws-manipulation1, .text-small-Ws-manipulation2 {
    text-align: center !important;
  }
}


//// SECTION 4 /////




.rowStyle5{
  min-height: 300px;
  padding-left: 0px;
  padding-right: 0px;
}
.testemonialDivs{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 300px;
background-color: #000000 !important;
  color: white;
  z-index: 55;
}
.ngb-carousel .carousel-item {
  margin: 0 !important;
}
.image-container {
  display: flex;
  justify-content: center; /* Align images horizontally in the center */
  flex-wrap: wrap; /* Allow the images to wrap onto the next line if there isn't enough space */
}
///section 5////

.rowStyle6{
margin-bottom: 50px;
}
.cols-sports{
  height: 350px;
}
.cols-sports1{
  background-image: url('/assets/sp_01.jpg');
background-position: center;
background-size: cover;
}
.cols-sports2{
  background-image: url('/assets/sp_02.jpg');
  background-position: center;
  background-size: cover;
}
.cols-sports3{
  background-image: url('/assets/sp_03.jpg');
  background-position: center;
  background-size: cover;
}
.cols-sports4{
  background-image: url('/assets/sp_04.jpg');
  background-position: center;
  background-size: cover;
}
.h4-title-carousel{
  font-size: 30px;
  color: white;
  text-transform: uppercase;
  font-weight: bolder;
}
.icon-wrapper {
  padding-top: 100px;

  @media (min-width: 2250px) {
    padding-top: 110px;
  }
}
.info-popup {
  visibility: hidden !important;
  opacity: 0 !important;
  transform: translateY(100%) !important;
  transition: visibility 0s, opacity 0.3s linear, transform 0.3s ease;

}

.headwrapper {
  transition: transform 0.3s ease;
}

.cols-sports:hover .headwrapper {
  transform: translateY(-50px); /* moves the headwrapper up by 30px on hover */
}

.cols-sports:hover .info-popup {
  visibility: visible !important;
  opacity: 1 !important;
  transform: translateY(-30px) !important;
}

// PARALLAX PICTURE ///


.parallaxcontainer {
  width: 100vw;
  height: 500px;
  background-image: url("/assets/samoParalax (2).png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* add this line */
  object-fit: cover;

  @media (max-width: 450px) {
    height: 520px;
  }
}


/// FORMA ////

// #formaContainerFluid{
// background-color: #000000b2;
// }

// #formcontainer{
//   padding: 50px;
//   max-width: 800px;  // Change this line
//   width: 100%; 
//   color: #ffffff;
//   text-transform: uppercase;
//   font-weight: bolder;
//   font-size: 30px;
// }
// input[type="text"], input[type="email"], textarea {
//   border: none;
//   border-bottom: 1px solid #0f94f36c;
//   outline: none;
//   border-radius: 0;
//   color: #c9c9b6;
// }

// ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
//   color: #c9c9b6;
//   opacity: 1; /* Firefox */
// }

// :-ms-input-placeholder { /* Internet Explorer 10-11 */
//   color: #0f94f36c;
// }

// ::-ms-input-placeholder { /* Microsoft Edge */
//   color: #0f94f36c;
// }
// #message {
//   height: 100px;
// }
// #name, #email, #message, #subject {
//   background-color: black;
// }
// .submitgumb{
//   margin-top: 20px;
//   display: block;
//   margin-left: auto;
//   margin-right: auto;
//   background-color: #c9c9b6;
//   color: white;
//   font-weight: bold;
//   width: 150px;
//   height: 50px;
//   border: none;
//   cursor: pointer;
//   border-radius: 0px;
// }
//SPONZORI//

#containerSponzori{
  background-color: rgb(255, 255, 255);
  padding-left: 0;
  padding-right: 0;
}
.rowStyle7{
  min-height: 200px;
}
.glavniCol{
  background-color: rgb(255, 255, 255);
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

//SPONZORI//

.sponsor-image {
  text-align: center;

  img {
    max-width: 60%;
    height: auto;
  }
}


//FORM2


.form-custom {
  max-width: 600px;
  margin: 0 auto;
}

.form-custom .form-control {
  background-color: #333;
  border: none;
  border-bottom: 1px solid #ff0000;
  border-radius: 0;
  color: #fff;
}

.form-custom .form-control:focus {
  background-color: #333;
  border: none;
  border-bottom: 1px solid #ff0000;
  border-radius: 0;
  color: #fff;
  box-shadow: none;
}

.form-custom .btn {
  background-color: #ff0000;
  border-color: #ff0000;
}

.form-custom .btn:hover {
  background-color: #cc0000;
  border-color: #cc0000;
}


//BURAZ

.text-wrapper-h4, .text-wrapper-p{
  color: whitesmoke;
  
  @media (max-width: 450px) {
    font-size: 15px;
  }

}
.abc{
  @media (max-width: 450px) {
   width:300px;
  }
}
.green-bg-button2{

  width: 200px;
  background-color: rgb(188, 31, 31);
  border: none;
  border-radius: 0;
  color: white;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: bolder;
  padding: 10px 20px;
  cursor: pointer;
  transform: translateY(2px);
  margin-left: 10px;
  margin-right: 10px;

  background: linear-gradient(to right, black 50%, rgb(188, 31, 31) 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 1s ease;


  &:hover {
    background-position: left bottom;
  }
}