
.section1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    object-fit: cover;
    z-index: 1;
  }
.picsum-img-wrapper img {
    object-fit: cover;
    height: 100%;
}
.carousel-item {
    position: absolute;
    opacity: 0;
  }
  
  .carousel-item.active {
    position: relative;
    opacity: 1;
  }
  .active {
    opacity: 1;
    position: relative;
  }
  
  .inactive {
    opacity: 0;
    position: absolute;
  }

  .fade-in {
    animation: fadeIn 2s ease-in forwards;
  }
  
  .fade-out {
    animation: fadeOut 2s ease-out forwards;
  }
  
  @keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
  
  @keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
  }
  .section1 .row .col-md-12 div {
    position: absolute;
  }
  
  .section1 .row .col-md-12 div img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: fit-content;
  }
  .carousel-icons {
    display: flex;
    justify-content: center;
  }
  
  .carousel-icon {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: #ccc;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .carousel-icon.active {
    background-color: #333;
  }
  .section2 {
    position: absolute;
    top: calc(100% - 50px);
    width: 100%;
}