<section class="section1">
    <div class="row">
        <div class="col-md-12">
            <div class="position-absolute start-0 end-0 top-0 bottom-0 min-vh-100">
                <ng-container *ngFor="let image of images; let i = index">
                    <img [src]="image" [ngClass]="{
                        'fade-in': i === activeIndex && pageLoaded,
                        'fade-out': i === previousIndex && pageLoaded,
                        'slider-image position-absolute start-0 top-0' : true
                      }" [@zoomOut]="i === activeIndex ? zoomState : 'large'" (@zoomOut.done)="onZoomOutEnd()"
                        *ngIf="i === activeIndex || i === previousIndex" />
                    <div class="text-wrapper text-wrapperKlasa position-absolute start-0 top-50"
                        [ngClass]="{'pushed-down': (navbarService.isDropdownOpened('programi') || navbarService.isDropdownOpened('sportovi')) && !navbarService.isNavbarCollapsed()}">
                        <p class="firstP">Welcome To The Fight!</p>
                        <h1 class="firstH1">The Best <span style="color: rgb(188, 31, 31);">Boxing </span>School and
                            Martial Arts In The World</h1>
                        <p class="secondp">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eius tempor
                            incididunt ut
                            labore et dolore magna aliqua. ad minim venia, </p>
                        <button class="getStartedBtn">GET STARTED</button>
                    </div>
                </ng-container>
                <div class="slider-pagination container position-relative start-0 end-0 bottom-0"
                    (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
                    <div class="carousel-icons carousel-iconscontainer">
                        <ng-container *ngFor="let image of images; let i = index">
                            <div class="carousel-icon" [ngClass]="{'active': i === activeIndex}" (click)="goToImage(i)">
                                <div class="stripe"></div>
                                <div class="stripe"></div>
                                <div class="stripe"></div>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- TO DOLE SLUZI ZA RAZMAK IZMEDJU SEKCIJA, VAZNO ZA SHEME! NE DIRAJ, POVEZANO SA NAV.SERVICE -> NAVBAROM -->
<div class="rowStyle1"
    [class.navbar-toggler-active]="navbarTogglerState && !(navbarService.isDropdownOpened('programi') || navbarService.isDropdownOpened('sportovi')) && !navbarService.isNavbarCollapsed()"
    [class.dropdown-active]="(navbarService.isDropdownOpened('programi') || navbarService.isDropdownOpened('sportovi')) && !navbarService.isNavbarCollapsed()">
    <div class="col-md-12">

    </div>
</div>
<div class="outer-container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 blue-bg">
                <div class="row">
                    <a class="col-12 col-md-6 col-lg-6 yellow-bg image-bg">
                        <!-- content je u scss-u -->
                    </a>
                    <div class="col-12 col-md-6 col-lg-6 green-bg">
                        <a class="green-bg-a-div" style="text-decoration: none;">
                            <h4 class="green-bg-h4"><span style="color: rgb(188, 31, 31);">Boxing</span><br>for adults
                            </h4>
                            <span href="#" style="text-decoration: none;" class="green-bg-a-decoration">-</span>
                            <p class="green-bg-p">Nulla facilisi. Suspendisse malesuada, diam ut mattis lacinia, nibh mi
                                ultrices felis,
                                ultricies. Suspendisse malesuada, diam ut mattis lacinia.</p>
                        </a>
                        <div class="green-bg-price">
                            <span class="green-bg-price-from">from</span><span
                                class="green-bg-price-currency">$100</span>
                        </div>
                        <button class="green-bg-button">Procitaj više</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 red-bg">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-6 purple-bg image-bg2 order-1 order-md-2 order-lg-1">
                        <!-- Content for the first column of the second row goes here -->
                    </div>
                    <div class="col-12 col-md-6 col-lg-6 pink-bg order-2 order-md-1 order-lg-2">
                        <a class="green-bg-a-div" style="text-decoration: none;">
                            <h4 class="green-bg-h4"><span style="color: rgb(188, 31, 31);">Boxing</span><br>for adults
                            </h4>
                            <span href="#" style="text-decoration: none;" class="green-bg-a-decoration">-</span>
                            <p class="green-bg-p">Nulla facilisi. Suspendisse malesuada, diam ut mattis lacinia, nibh mi
                                ultrices felis,
                                ultricies. Suspendisse malesuada, diam ut mattis lacinia.</p>
                        </a>
                        <div class="green-bg-price">
                            <span class="green-bg-price-from">from</span><span
                                class="green-bg-price-currency">$100</span>
                        </div>
                        <button class="green-bg-button">Procitaj više</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>