.section_slika_services {
    width: 100vw;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    object-fit: cover;
    background-position: center;
}

.section_slika_services {
    height: 300px;
    background-image: url("/assets/template (2).jpg");
    @media (max-width: 450px) {
        height: 300px;
    }
}
.fontCustom{
  font-size: 45px;
  color: white;
  @media (max-width: 450px) {
      font-size: 20px;
  }

}
.carousel-image{
  height: 500px;
  width: auto;
  object-fit: cover;
  @media (max-width: 600px) {
    object-fit: contain;
  }
}


.text-wrapper1 {
    position: relative;
    top: 85%;
    left: 25%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    text-align: left;
    max-width: 500px;
    @media (max-width: 1200px) {
        width: 100%;
        top: 50%;
        left: 60%;
        padding: 25px;
        transform: translate(-50%, 60%);
    }
    @media (max-width: 450px) {
        width: 100%;
        top: 65%;
        left: 50%;
        padding: 25px;
        transform: translate(-50%, -10%);
    }
  }
  
  
  .centered-text {
    font-size: 30px;
    font-weight: bold;
    line-height: normal !important;
    max-width: 700px;
    color: white;
    @media (max-width: 450px) {
        font-size: 30px;
        padding-right: 80px;
        font-weight: bold;
        
    }
  }

.element2{
    background-image: url('/assets/skolarci.jpeg');
    background-size: cover;
    background-position: center center;
    height: 400px;
}

.element{
  background-image: url('/assets/1.7.jpeg');
  background-size: cover;
  background-position: center center;
  height: 400px;
}

#containerUnique{
    min-height: 500px;
}
.container2{
    max-width: 1000px;
}
.text{
    color: whitesmoke;
}



//FORM2


.form-custom {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .form-custom .form-control {
    background-color: #333;
    border: none;
    border-bottom: 1px solid #ff0000;
    border-radius: 0;
    color: #fff;
  }
  
  .form-custom .form-control:focus {
    background-color: #333;
    border: none;
    border-bottom: 1px solid #ff0000;
    border-radius: 0;
    color: #fff;
    box-shadow: none;
  }
  
  .form-custom .btn {
    background-color: #ff0000;
    border-color: #ff0000;
  }
  
  .form-custom .btn:hover {
    background-color: #cc0000;
    border-color: #cc0000;
  }
  
  