<div class="section1-wrapper">
    <div class="section_slika_services" [style.background-size]="backgroundSize">
    </div>
</div>
<div class="container-fluid mt-5">
    <h2 style="display: flex; justify-content: center; align-items: center; color: whitesmoke; font-weight: bolder;"
        class="mt-5 mb-5 fontCustom">TRENINZI ZA DJECU
    </h2>
    <div class="container" id="containerUnique">
        <div class="row justify-content-center gap-2">
            <div class="col-lg-3 col-md-6 col-sm-12 element2"></div>
            <div class="col-lg-3 col-md-6 col-sm-12 element"></div>
        </div>
    </div>
    <div class="container container2 pb-5">
        <h1 class="text" style="font-weight: bolder;">Sambo za predškolarce (od 3 do 7 godina starosti)</h1>
        <p class="text">Sambo trening temelji se na samoobrani, disciplini i gimnastici. Kroz raznovrsne tjelesne
            aktivnosti djeca stječu motoričke sposobnosti, kao i mentalnu snagu. Kako bi im što više olakšali primjenu
            osnovnih tehnika ubacujemo elemente igre i osnova kineziologije.
        <ul>
            <li class="text"><b>Motorički razvoj</b>: Sambo trening pomaže djeci u razvoju koordinacije, ravnoteže,
                agilnosti i
                opće fizičke spreme. Kroz razne vježbe i tehnike, djeca poboljšavaju svoje motoričke vještine.</li>
            <li class="text"><b>Samopouzdanje</b>: Savladavanjem novih tehnika i postizanjem ciljeva, djeca stječu
                samopouzdanje koje se odražava i u drugim aspektima njihovog života.</li>
            <li class="text"><b>Socijalne vještine</b>: Trening u grupi potiče timski rad, komunikaciju i suradnju s
                vršnjacima, čime se razvijaju socijalne vještine i rana socijalizacija.</li>
            <li class="text"><b>Zabava i uživanje</b>: Treninzi su osmišljeni na način da budu zabavni i dinamični, što
                potiče
                djecu da se raduju svakoj novoj sesiji i ostanu motivirani.</li>
            <li class="text"><b>Emocionalna regulacija</b>: Kroz fizičku aktivnost i učenje kontroliranih pokreta, djeca
                razvijaju bolje vještine upravljanja emocijama i smanjenje stresa.</li>
            <li class="text"><b>Koncentracija i fokus</b>: Učenje novih tehnika i izvođenje vježbi zahtijevaju
                koncentraciju i
                pažnju, što pomaže djeci da razviju bolji fokus.</li>
        </ul>
    </div>
    <div class="container mt-5">
        <ngb-carousel>
            <ng-template ngbSlide>
                <div class="d-flex justify-content-center align-items-center">
                    <img src="/assets/galerija_skolarci1.jpeg" alt="First slide" style="max-width: 600px;">
                </div>
                <div class="carousel-caption">

                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="d-flex justify-content-center align-items-center">
                    <img src="/assets/galerija_skolarci2.jpeg" alt="Second slide" style="max-width: 600px">
                </div>
                <div class="carousel-caption">

                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="d-flex justify-content-center align-items-center">
                    <img src="/assets/galerija_skolarci3.jpeg" alt="Third slide" style="max-width: 600px">
                </div>
                <div class="carousel-caption">

                </div>
            </ng-template>
        </ngb-carousel>
    </div>
    <div class="container container2 pt-5">
        <h1 class="text" style="font-weight: bolder;">Sambo za školarce (od 8 do 14 godina starosti)</h1>
        <p class="text">Za ovu dobnu skupinu naglasak stavljamo na disciplinu i tehničku izvedbu. Učimo osnove tehnike
            bacanja i borbe u parteru, te spajamo elemente Juda, Jiu Jitsu-e i Samba kako bi polaznici mogli ostvariti
            svoj puni
            potencijal. U ovoj dobi selektiramo najbolje te im pomažemo ostvariti rezultate na nacionalnim i
            međunarodnim natjecanjima.</p>
        <ul>
            <li class="text"><b>Fizička kondicija</b>: Sambo trening pomaže tinejdžerima da razviju snagu, izdržljivost,
                fleksibilnost i opću fizičku spremu. Redoviti treninzi poboljšavaju njihovu kondiciju i zdravlje.</li>
            <li class="text"><b>Samodisciplina</b>: Tinejdžeri uče važnost discipline, samokontrole i posvećenosti.
                Pridržavanje pravila i redovitih treninga razvija osjećaj odgovornosti i organizacije.</li>
            <li class="text"><b>Samoobrana</b>: Tinejdžeri uče kako prepoznati, izbjeći i neutralizirati konflikte. Ovo
                znanje daje im osjećaj sigurnosti i spremnosti u potencijalno opasnim situacijama, što je posebno važno
                u adolescentnom razdoblju.</li>
            <li class="text"><b>Akademski uspjeh</b>: Poboljšanje koncentracije i fokusa te razvoj discipline pozitivno
                utječu na akademski uspjeh. Tinejdžeri često bilježe bolje rezultate u školi kao posljedicu redovitih
                treninga.</li>
            <li class="text"><b>Koncentracija i fokus</b>: Učenje novih tehnika i izvođenje složenijih vježbi
                zahtijevaju koncentraciju i pažnju, što pomaže tinejdžerima da razviju bolji fokus i sposobnost
                dugotrajnog rada na zadacima.</li>
        </ul>
    </div>
    <div class="container mt-5">
        <ngb-carousel>
            <ng-template ngbSlide>
                <div class="d-flex justify-content-center align-items-center">
                    <img src="/assets/galerija_skolarci1.jpeg" alt="First slide" style="max-width: 600px;">
                </div>
                <div class="carousel-caption">

                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="d-flex justify-content-center align-items-center">
                    <img src="/assets/galerija_skolarci2.jpeg" alt="Second slide" style="max-width: 600px">
                </div>
                <div class="carousel-caption">

                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="d-flex justify-content-center align-items-center">
                    <img src="/assets/galerija_skolarci3.jpeg" alt="Third slide" style="max-width: 600px">
                </div>
                <div class="carousel-caption">

                </div>
            </ng-template>
        </ngb-carousel>
    </div>
    <div class="container-fluid mb-5">
        <div class="container">
            <h2 class="text-center text-white mt-5 mb-5" style="font-weight: bolder;">ISPUNITE OBRAZAC ZA <span
                    style="color: rgb(210, 24, 24);">PRIJAVU</span></h2>
            <form class="form-custom bg-dark text-white p-3  border border-danger">
                <div class="form-group">
                    <label for="fullName">Ime i prezime</label>
                    <input type="text" class="form-control bg-dark text-white border-danger" id="fullName"
                        placeholder="Ime i prezime">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control bg-dark text-white border-danger" id="email"
                        placeholder="Enter Email">
                </div>
                <div class="form-group">
                    <label for="contactNumber">Kontakt broj</label>
                    <input type="tel" class="form-control bg-dark text-white border-danger" id="contactNumber"
                        placeholder="Kontakt broj">
                </div>
                <div class="form-group">
                    <label for="sport">Odaberi sport</label>
                    <select class="form-control bg-dark text-white border-danger" id="sport">
                        <option selected="selected" disabled="disabled"></option>
                        <option>MMA</option>
                        <option>SAMBO</option>
                        <option>COMBAT SAMBO</option>
                        <option>FITNESS</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="type">Način treniranja</label>
                    <select class="form-control bg-dark text-white border-danger" id="type">
                        <option selected="selected" disabled="disabled"></option>
                        <option>Online</option>
                        <option>Privatno</option>
                    </select>
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-danger mt-3">Pošalji</button>
                </div>
            </form>
        </div>
    </div>