.nav-link-color {
    color: white !important;
}
.navbar {
    border-bottom: 0.5px solid #ffffff23;
    position: relative; 
    z-index: 2;
}
.dropdown-menu {
    background-color: #171d29;
}
.dropdown-item {
    color: white;
}

.navbar-toggler-icon {
    filter: invert(1); 
}
.navbar {
    transition: all 0.4s ease-in-out;
    background-color: #171d29;
  
    &.scrolled {
      background-color: #171d29;
  
      .dropdown-menu {
        background-color: #171d29;
      }
    }
  }