<div class="section1-wrapper">
    <div class="section_slika_services" [style.background-size]="backgroundSize">
        <div class="text-wrapper1">
            <p class="centered-text textstyle">TRENINZI ZA ODRASLE</p>
        </div>
    </div>
    <div class="container-fluid" id="sectionSportovi mt-5 mb-5">
        <div class="container">
            <div class="row rowStyle6 mt-5 mb-5">
                <div class="col-12 col-md-6 cols-sports cols-sports1 text-center " routerLink="/mma" routerLink="/mma">
                    <div class=" headwrapper">
                        <div class="icon-wrapper">
                            <div class="modul-icon">
                                <img src="/assets/vrana-logo-stamp.png" alt="" style="width: 100px;">
                            </div>
                        </div>
                        <div class="titlewrapper">
                            <h4 class="h4-title-carousel">Mixed Martial Arts</h4>
                        </div>
                    </div>
                    <div class="container-info info-popup " style="padding-top: 0px;">
                        <div class="empty-cell">
                            <div class="content-cell">
                                <div class="description"
                                    style="color:#ffffff;font-size:14px;line-height:20px; font-weight: bolder;">
                                    Dominance proudly offers more than 17 BJJ classes every week. All classes are taught
                                    by
                                    an experienced black belt coach focusing on practicing smooth, technical training.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 cols-sports cols-sports2 text-center" routerLink="/sambo">
                    <div class=" headwrapper">
                        <div class="icon-wrapper">
                            <div class="modul-icon">
                                <img src="/assets/vrana-logo-stamp.png" alt="" style="width: 100px;">
                            </div>
                        </div>
                        <div class="titlewrapper">
                            <h4 class="h4-title-carousel">SAMBO</h4>
                        </div>
                    </div>
                    <div class="container-info info-popup " style="padding-top: 0px;">
                        <div class="empty-cell">
                            <div class="content-cell">
                                <div class="description"
                                    style="color:#ffffff;font-size:14px;line-height:20px; font-weight: bolder;">
                                    Dominance proudly offers more than 17 BJJ classes every week. All classes are taught
                                    by
                                    an experienced black belt coach focusing on practicing smooth, technical training.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 cols-sports cols-sports3 text-center" routerLink="/combat_sambo">
                    <div class=" headwrapper">
                        <div class="icon-wrapper">
                            <div class="modul-icon">
                                <img src="/assets/vrana-logo-stamp.png" alt="" style="width: 100px;">
                            </div>
                        </div>
                        <div class="titlewrapper">
                            <h4 class="h4-title-carousel">COMBAT SAMBO</h4>
                        </div>
                    </div>
                    <div class="container-info info-popup " style="padding-top: 0px;">
                        <div class="empty-cell">
                            <div class="content-cell">
                                <div class="description"
                                    style="color:#ffffff;font-size:14px;line-height:20px; font-weight: bolder;">
                                    Dominance proudly offers more than 17 BJJ classes every week. All classes are taught
                                    by
                                    an experienced black belt coach focusing on practicing smooth, technical training.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 cols-sports cols-sports4 text-center" routerLink="/fitness">
                    <div class=" headwrapper">
                        <div class="icon-wrapper">
                            <div class="modul-icon">
                                <img src="/assets/vrana-logo-stamp.png" alt="" style="width: 100px;">
                            </div>
                        </div>
                        <div class="titlewrapper">
                            <h4 class="h4-title-carousel">FITNESS</h4>
                        </div>
                    </div>
                    <div class="container-info info-popup " style="padding-top: 0px;">
                        <div class="empty-cell">
                            <div class="content-cell">
                                <div class="description"
                                    style="color:#ffffff;font-size:14px;line-height:20px; font-weight: bolder;">
                                    Dominance proudly offers more than 17 BJJ classes every week. All classes are taught
                                    by
                                    an experienced black belt coach focusing on practicing smooth, technical training.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>