<div class="section1-wrapper">
    <div class="section_slika_services" [style.background-size]="backgroundSize">
        <div class="text-wrapper1">
            <p class="centered-text">FITNESS</p>

        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="container">
        <div class="row justify-content-center yellow">
            <div class="col-lg-6 green d-flex justify-content-center">
                <div class="text-wrapper d-flex flex-column align-items-center justify-content-center ">
                    <h4 class="text-wrapper-h4"><b>Koncept fitnesa seže u drevne civilizacije, gdje je tjelesna
                            aktivnost bila neizostavan dio svakodnevnog života radi opstanka i zdravlja.</b></h4>
                    <p class="text-wrapper-p">Međutim, moderna fitnes kultura razvila se krajem 20. stoljeća, potaknuta
                        usponom organiziranog sporta, znanosti o vježbanju i pokretima za zdravlje.
                    </p>
                    <p class="text-wrapper-p text-wrapper-p-fix-mobile1">
                        Redovito bavljenje fitnesom nudi brojne koristi za fizičko i mentalno zdravlje. To uključuje
                        poboljšanje kardiovaskularnog zdravlja, povećanje mišićne snage i izdržljivosti, poboljšanu
                        fleksibilnost i pokretljivost, upravljanje tjelesnom težinom, smanjenje stresa i bolju
                        regulaciju raspoloženja. Prehrana igra ključnu ulogu u fitnesu, pružajući tijelu potrebne
                        hranjive tvari za energiju, oporavak i opće zdravlje.
                    </p>
                </div>

            </div>
            <div class="col-lg-6 red d-flex justify-content-center">
                <img src="/assets/mma_01.jpg" alt="Red" class="slika1">
            </div>
        </div>
        <div class="row justify-content-center blue">
            <div class="col-lg-6 col-12 order-2 order-lg-1 d-flex justify-content-center">
                <img src="/assets/mam_02.jpg" alt="Yellow" class="slika2">
            </div>
            <div class="col-lg-6 col-12 order-1 order-lg-2 d-flex justify-content-center">
                <div class="text-wrapper">
                    <p class="text-wrapper-p text-wrapper-p-fix-mobile2">Uravnotežena prehrana koja uključuje raznovrsnu
                        hranu, proteinske
                        namirnice, kompleksne ugljikohidrate, zdrave masti i obilje voća i povrća bitna je za
                        osiguravanje energije za treninge i podršku rastu i oporavku mišića. Osim fizičkog zdravlja,
                        fitnes pruža prilike za osobni rast i samo-poboljšanje. Postavljanje i postizanje ciljeva
                        fitnesa, prevladavanje izazova i pomicanje fizičkih granica potiče otpornost, samopouzdanje i
                        osjećaj postignuća. Fitnes je više od fizičke vježbe; to je holistički pristup životu zdravijeg
                        i sretnijeg života.</p>
                </div>
            </div>
        </div>

    </div>

</div>
<div class="container-fluid mb-5">
    <div class="container">
        <h2 class="text-center text-white mt-5 mb-5">ISPUNITE OBRAZAC ZA <span
                style="color: rgb(210, 24, 24);">PRIJAVU</span></h2>
        <form class="form-custom bg-dark text-white p-3  border border-danger">
            <div class="form-group">
                <label for="fullName">Ime i prezime</label>
                <input type="text" class="form-control bg-dark text-white border-danger" id="fullName"
                    placeholder="Ime i prezime">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control bg-dark text-white border-danger" id="email"
                    placeholder="Enter Email">
            </div>
            <div class="form-group">
                <label for="contactNumber">Kontakt broj</label>
                <input type="tel" class="form-control bg-dark text-white border-danger" id="contactNumber"
                    placeholder="Kontakt broj">
            </div>
            <div class="form-group">
                <label for="sport">Odaberi sport</label>
                <select class="form-control bg-dark text-white border-danger" id="sport">
                    <option selected="selected" disabled="disabled"></option>
                    <option>MMA</option>
                    <option>SAMBO</option>
                    <option>COMBAT SAMBO</option>
                    <option>FITNESS</option>
                </select>
            </div>
            <div class="form-group">
                <label for="type">Način treniranja</label>
                <select class="form-control bg-dark text-white border-danger" id="type">
                    <option selected="selected" disabled="disabled"></option>
                    <option>Online</option>
                    <option>Privatno</option>
                </select>
            </div>
            <div class="form-group text-center">
                <button type="submit" class="btn btn-danger mt-3">Pošalji</button>
            </div>
        </form>
    </div>
</div>